spring:
  datasource:
    url: jdbc:mysql://localhost:3306/springsec?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jmx:
    enabled: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
logging:
  level:
    org:
      springframework:
        security: DEBUG